#head, #navi, table table, h3 {
    display: none;
}
body, table, #contentwrapper, #content{
    width: 100%;
}
body {
    font-family: serif;
}
h2 a{
    text-decoration: none;
    color: black;
}
h2 img{
    display: none;
}
.logo {
    height: 50px;
    position: absolute;
    right: 0px;
}

#home_uberschrift_content {
    font: 14px Verdana, Arial, Helvetica, sans-serif;
    color: #0A264E;
}